---
import "../styles/main.css"
import Navbar from '../components/Navbar.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap" rel="stylesheet">
		<title>TECH</title>
	</head>
	<body>
		<Navbar />

		<slot />

		
	</body>
	<footer class="blur">
			<small>Copyright &copy <span id="copyrightYear"></span> shopIT</small>
		</footer>
	
		<script>
			document.querySelector('#copyrightYear')!.textContent = new Date().getFullYear().toString();
	
		</script>


</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
	}
</style>
