---
import "../styles/main.css"
import Navbar from '../components/Navbar.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>TECH</title>
	</head>
	<body>
		<Navbar />

		<slot />

		<footer class="blur">
			<small>Copyright &copy <span id="copyrightYear"></span> shopIT</small>
		</footer>
	
		<script>
			document.querySelector('#copyrightYear')!.textContent = new Date().getFullYear().toString();
	
		</script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
