html{
    font-family: "Inter Tight", serif;
    font-optical-sizing: auto;
}
.txt-xl {
    font-size: 3.5rem;
}
.txt-lg {
    font-size: 1.6rem;
}
.txt-md {
   font-size: 1rem;
}
.txt-sm {
   font-size: 0.8rem;
}
body footer{
    position: absolute;
    bottom: 0;
}