---
import tools from '../assets/tools.svg';
import secure from '../assets/secure.svg';
import growth from '../assets/growth.svg';
import design from '../assets/design.svg';

---
<style>
  .feature-card{
    margin: 1rem 2rem;
    padding: 1rem;
    border: solid #222222;
    border-radius: .5rem;
  }
</style>

<div class="feature-card">
    <div class="feature">
      <div class="inline-flex">
        <img src={tools.src} alt="" height="25">
        <h3>Effortless Setup</h3>
      </div>
      <p class="gray-txt">With just your domain and a subscription your custom store is ready to go. Zero coding required.</p>
</div>