---
import background from '../assets/background.svg';
---
<div class="flex">
    <div class="flex-item feature">
      <div class="inline-flex">
        <img src="./images/landing/ri_tools-fill.svg" alt="" height="25">
        <h3>Effortless Setup</h3>
      </div>
      <p class="gray-txt">With just your domain and a subscription your custom store is ready to go. Zero coding required.</p>
</div>