---
import "../styles/main.css"
---
<footer class="blur">
    <small>Copyright &copy <span id="copyrightYear"></span> shopIT</small>
</footer>

<script>
    document.querySelector('#copyrightYear')!.textContent = new Date().getFullYear().toString();

</script>