---

---
<style>
    .card{
        background-color: #222222;
        color: #ffffff;
        padding: 1rem 2rem;
        border-radius:2rem;
    }
    button{
        padding: .8rem;
        background-color: #FFFFFF;
        border: none;
        border-radius: 1rem;
    }
    button a{
        color:#222222;
        text-decoration: none;
        font-size: .8rem;
    }
    .small{
        font-size: .5rem;
    }

</style>

<div class="card">
    <h2>Be the First to Experience the Future of E-commerce</h2>
    <p>Sign up for exclusive early access and enjoy discounted rates, personalized onboarding, and priority support. Get ahead of the competition—limited spots available.</p>
    <button>
        <a href="https://magic.beehiiv.com/v1/53608dbc-3a3e-48d2-b199-444603769a46?email={{email}}" target="_blank">Join the waitlist</a>
    </button>
    <p class="small">
        <span>No credit card required</span>
    </p>
</div>