---
import "../styles/main.css"
---
<style>
    .pricing{
        padding: 1rem;
        border-radius: 1rem;
        background-color: #222222; 
        color: #FFFFFF;
        max-width: 600px;
        margin: 1.5rem 1rem;
    }
    button{
      width: 100%;
      padding: .5rem;
      border: none;
      background: #FFFFFF;
      border-radius: .5rem;
    }
    button a{
      text-decoration: none;
      color: #222222;
      font-weight: 600;
    }
</style>

<div class="pricing">
    <h2>Free Trial</h2>
    <p class="txt-md">Get a free 7 day trial</p>
    <h2 class="price">$0 <span class="txt-sm">per month</span></h2>
    <button class="txt-md">
      <a href="/login">Get Started</a>
    </button>
</div>
