---
import "../styles/main.css"
---
<style>
    .pricing{
        background-color: #222222; 
        color: #FFFFFF;
    }
</style>

<div class="pricing">
    <h2>Free Trial</h2>
    <p class="txt-md">Get a free 7 day trial</p>
    <h2 class="price">$0 <span class="txt-sm">per month</span></h2>
    <button class="txt-md">
      Get Started
    </button>
</div>