---
import Layout from '../layouts/Layout.astro';
import Pricecard from '../components/Pricecard.astro';
import Feature from '../components/Feature.astro'
import Newslettercard from '../components/Newlettercard.astro'

---
<style>
	.hero, .features, .pricing, .cta{
		padding: 1rem 1.5rem;
	}
	p, cta p{
		font-weight: 500;
		max-width: 70ch;
	}
	.hero a{
		font-weight: 800;
	}
	.headline{
		margin-inline: 1rem;
	}
</style>
<Layout>
	<div class="hero">
		<h1>Start Seling in minutes. No-code. No hassle
		</h1>
		<p class="hero-txt">Your custom store. Your domain. Ready to launch </p>
		<a href="/login">Get Started</a>
	</div>
	
	<div class="features">
		<h2 class="headline">Features</h2>
		<Feature />
		<Feature />
	</div>

	<div class="pricing">
		<h2 class="headline">Pricing</h2>
		<Pricecard />
	</div>
	<div class="cta">
		<h2>Ready to Get Started?</h2>
		<p>Your store is just a few clicks away. Choose your domain, pick your plan, and start selling today.</p>
		<Newslettercard />
	</div>

</Layout>
