---
import Layout from '../layouts/Layout.astro';
import Pricecard from '../components/Pricecard.astro';
---
<style>
	.hero{
		padding: 1rem 1.5rem;
	}
	hero p.hero-txt{
		max-width: 5ch;
	}
</style>
<Layout>
	<div class="hero">
		<h1>Start Seling in minutes. No-code. No hassle
		</h1>
		<p class="hero-txt">Your custom store. Your domain. Ready to launch </p>
		<a href="/sign-up">Get Started</a>
	</div>
</Layout>
