---
import Layout from '../layouts/Layout.astro';
import Pricecard from '../components/Pricecard.astro';
import Feature from '../components/Feature.astro'

---
<style>
	.hero, .features, .pricing{
		padding: 1rem 1.5rem;
	}
	p{
		font-weight: 500;
	}
	.hero a{
		font-weight: 800;
	}
	.headline{
		margin-inline: 1rem;
	}
</style>
<Layout>
	<div class="hero">
		<h1>Start Seling in minutes. No-code. No hassle
		</h1>
		<p class="hero-txt">Your custom store. Your domain. Ready to launch </p>
		<a href="/login">Get Started</a>
	</div>
	
	<div class="features">
		<h2 class="headline">Features</h2>
		<Feature />
		<Feature />
	</div>

	<div class="pricing">
		<h2 class="headline">Pricing</h2>
		<Pricecard />
	</div>
	
</Layout>
