---
import SiteLayout from "../layouts/SiteLayout.astro";

---
<style>
    .body{
        border-radius: 2rem;
        padding: 2rem;
        background-color: #222222;
        color: #ffffff; 
    }
    a{
        color: #ffffff
    }
</style>
<div class="body">
    <h1><a href="/index">&lt; BACK</a></h1>

    <SiteLayout title="Login to Get Started">
    </SiteLayout>
</div>