---
import SiteLayout from "../layouts/SiteLayout.astro";

---
<style>
    .body{
        border-radius: 2rem;
        padding: 2rem;
        background-color: #222222;
        color: #ffffff; 
    }
    a{
        font-weight: 800;
        color: #ffffff;
    }
</style>
<div class="body">
    <a href="/index">&lt; BACK</a>

    <SiteLayout title="Login to Get Started">
    </SiteLayout>
</div>